body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(236, 234, 234);
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
.container {
    margin: 0 auto;
    max-width: 70%;
}
.head-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}


.head-block2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.kab {
    background-image: url(img/arrow.svg);
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position: left center;
    color: rgba(205, 159, 85);
}
.num {
    margin-left: 30px;
    color: rgb(95, 95, 95);
    text-decoration: none;
    font-size: 17px;
}


.nav {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    color:grey;
    text-decoration: none;
    padding: 20px;
    transition: color 0.3s linear;
}

.br-block {
    margin-right: 2px; 
    border-right: 1px solid rgb(182, 181, 181);
}
.nav-item1 {
    
    text-decoration: none;
    /* padding-right: 20px; */
}
.nav-item2 {
    margin-left: 30px;
    padding-left: 30px;
   
    text-decoration: none;
    color: rgba(205, 159, 85);
    transition: color 0.3s linear;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    border-color: rgba(205, 159, 85);
}
.nav-item3 {
    margin-left: 40px;
    text-decoration: none;
    color: rgba(205, 159, 85);
    transition: color 0.3s linear;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    margin-right: 20px;
    border-color: rgba(205, 159, 85); 
}
.nav-item:hover {
    color: rgb(90, 66, 37);
}
.nav-item2:hover {
    color: rgb(68, 51, 29);
}
.nav-item3:hover {
    color: rgb(68, 51, 29);
}
.nav-item1:hover {
    color: rgb(68, 51, 29);
}
.podr:hover {
    color: rgb(189, 146, 78);
    transition: color 0.2s linear;
}
.podr2:hover {
    color: rgb(189, 146, 78);
    transition: color 0.2s linear;
}
.podr3:hover {
    color: rgb(189, 146, 78);
    transition: color 0.2s linear;
}


/* .spec {
    margin-top: 60px;
    margin-left: 115px;
    font-size: 30px;
    color: rgb(58, 58, 58);
} */
.ogl {
    margin-left: 20px;
    font-size: 30px;
    color: rgb(58, 58, 58);
}
.hotel1 {
    background-image: url(img/offer1.png);
    background-repeat: no-repeat;
    padding: 60px;
    padding-left: 5px;
    background-size: 500px;
    list-style-type: none;
    /* filter:invert(5%);  */
}
.nazv1 {
    font-size: 35px;
    margin-top: -30px;
    margin-left: -15px;
    color: white;
    font-weight: bold;
    list-style-type: none;
}
.cena {
    color: rgb(194, 191, 191);
    margin-left: -10px;
    margin-bottom: 35px;
    list-style-type: none;
    font-size: 20px;
        margin-top: 10px;
}
.podr {
    color: rgb(219, 171, 93);
    margin-left: 25px;
    background-image: url(img/img_arrow.svg);
    background-repeat: no-repeat;
    background-position: 87px 1px;
}


.hotel2 {
    background-image: url(img/offer2.png);;
    background-repeat: no-repeat;
    padding: 60px;
    padding-left: 5px;
    background-size: 500px;
    list-style-type: none;
    /* filter:invert(5%);  */
}
.nazv2 {
    font-size: 35px;
    margin-top: -30px;
    margin-left: -15px;
    color: white;
    font-weight: bold;
    list-style-type: none;
}
.cena2 {
    color: rgb(194, 191, 191);
    margin-left: -10px;
    margin-bottom: 35px;
    list-style-type: none;
    font-size: 20px;
    margin-top: 10px;
}
.podr2 {
    color: rgb(219, 171, 93);
    margin-left: 25px;
    background-image: url(img/img_arrow.svg);
    background-repeat: no-repeat;
    background-position: 87px 1px;
}

.hotel3 {
    background-image: url(img/offer3.png);
    background-repeat: no-repeat;
    padding: 60px;
    background-size: 550px;
    margin-left: 555px;
    margin-top: -557px;
    list-style-type: none;
}
.nazv3 {
    margin-top: 130px;
    margin-left: -15px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    list-style-type: none;
}
.cena3 {
    color: rgb(194, 191, 191);
    margin-left: -10px;
    margin-bottom: 35px;
    list-style-type: none;
    font-size: 20px;
    margin-top: 10px;
}
.podr3 {
    color: rgb(219, 171, 93);
    margin-left: 25px;
    background-image: url(img/img_arrow.svg);
    background-repeat: no-repeat;
    background-position: 87px 1px;
    margin-bottom: 50px;
}

/* .hotel2 {
    background-image: url(img/offer2.png);
    background-repeat: no-repeat;
    padding: 60px;
    background-size: 500px;
    margin-left: 70px;
}
.nazv2 {
    font-size: 35px;
    margin-top: -30px;
    margin-left: -15px;
    color: white;
    font-weight: bold;
} 
.cena2 {
    color: rgb(194, 191, 191);
    margin-left: -10px;
    margin-bottom: 35px;
} 
.podr2 {
    color: rgb(219, 171, 93);
    margin-left: -10px;
    background-image: url(img/img_arrow.svg);
    background-repeat: no-repeat;
    background-position: 87px 1px;
} */


/* .hotel3 {
    width: 50%;
    background-image: url(img/offer3.png);
    background-repeat: no-repeat;
    padding: 60px;
    background-size: 550px;
    margin-left: 585px;
    margin-top: -526px;
}
.nazv3 {
    margin-top: 130px;
    margin-left: -15px;
    color: white;
    font-weight: bold;
    font-size: 40px;
}
.cena3 {
    color: rgb(194, 191, 191);
    margin-left: -10px;
    margin-bottom: 30px;
}
.podr3 {
    color: rgb(219, 171, 93);
    margin-left: -10px;
    background-image: url(img/img_arrow.svg);
    background-repeat: no-repeat;
    background-position: 87px 1px;
} */
